<br>{{createForm | json}}
<form>
  <div class="form-group" [class.has-error]="createForm.missingFields.includes('title')">
    <label for="title" class="control-label">Title:</label>
    <input type="text" name="title" class="form-control" [ngModel]="createForm.title" (keyup)="updateInput($event)">
  </div>
  <div class="form-group" [class.has-error]="createForm.missingFields.includes('status')">
    <label for="status" class="control-label">Status:</label>
    <select class="form-control" name="status" [ngModel]="createForm.status" (change)="updateInput($event)">
      <option value="">--Choose a Status--</option>
      <option value="planned">Planned</option>
      <option value="in-progress">In-Progress</option>
      <option value="completed">Completed</option>
    </select>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" (click)="attemptCreateTask($event)">
  </div>
</form>
